<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ensamblador <br> 
      <span class="names">Erick Farid González Esquivel</span><br> 
      <span class="names">Sergio Martínez de Jesús</span><br>
      <span class="version">Fase 4 1era revisión</span><br>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button
        (click)="onShowFileSelectorChange()"
        routerLinkActive="router-link-active"
        *ngIf="!showFileSelector"
        color="primary"
      >
        Cargar Otro Archivo
      </ion-button>
      <ion-button
        *ngIf="table.length > 0" 
        (click)="onShowTableChange()" 
        color="primary"
      >
        {{!this.showTable ? 'Mostrar Tabla de Símbolos' : 'Ocultar Tabla de Símbolos'}}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-spinner *ngIf="loading" name="bubbles"></ion-spinner>
  <ion-card *ngIf="showFileSelector && !loading">
    <ion-card-header class="ion-text-center">
      <strong *ngIf="files[0]">Archivo cargado exitosamente</strong>
      <strong *ngIf="!files[0]">Por favor selecciona un archivo</strong>
    </ion-card-header>
    <ngx-dropzone class="customDrop" (change)="onSelect($event)">
      <ngx-dropzone-label>Da CLICK AQUÍ o arrastra un archivo <ion-icon class="icon" name="arrow-down-circle-outline"></ion-icon></ngx-dropzone-label>
      <ngx-dropzone-preview *ngFor="let f of files" [removable]="false" (removed)="onRemove(f)">
          <ngx-dropzone-label class="inside">Archivo leido: {{ f.name }} ({{ f.type }})</ngx-dropzone-label>
      </ngx-dropzone-preview>
    </ngx-dropzone>
  </ion-card>
  <ion-row class="midRow">
    <ion-col size="6" class="midCol">
      <ion-card *ngIf="selectedFile" class="analizedCard">
        <ion-card-header class="ion-text-center">
          <strong>Identificación de elementos</strong>
        </ion-card-header>
        <ion-card-content class="cardWithOverflow" class="ion-justify-content-center">
          <ion-text class="block" *ngFor="let word of allWords">{{ analizeWord(word) }}</ion-text>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6" class="midCol">
      <ion-card *ngIf="selectedFile" class="analizedCard">
        <ion-card-content class="cardWithOverflow" class="ion-justify-content-center">
          <ion-grid class="tableGrid">
            <ion-row class="header">
              <ion-col>
                Contador
              </ion-col>
              <ion-col>
                Linea
              </ion-col>
              <ion-col>
                Código
              </ion-col>
            </ion-row>
            <ion-row *ngFor="let line of allLines; let i = index" class="rows">
              <ion-col>
                {{ (counter && counter[i]) && setHexAddress(counter[i].count) }}
              </ion-col>
              <ion-col>
                {{ analizeLine(line, i) }}
              </ion-col>
              <ion-col>
                <ion-text class="block">{{ (counter && counter[i] && counter[i].code) && (counter[i].code.instruction + ' - ' + counter[i].code.size ) }}</ion-text>
                <ion-text class="block">{{ (counter && counter[i] && counter[i].code) && (counter[i].code.opCode[0].bin + ' - ' + setHexAddressWithH(counter[i].code.opCode[0].hex)) }}</ion-text>
                <ion-text>{{ (counter && counter[i] && counter[i].code && counter[i].code.opCode[1]) && (counter[i].code.opCode[1].bin + ' - ' + setHexAddressWithH(counter[i].code.opCode[1].hex)) }}</ion-text>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="showTable && !loading">
    <ion-card class="widthExp">
      <ion-grid class="tableGrid">
        <ion-row class="header">
          <ion-col>
            Dirección
          </ion-col>
          <ion-col>
            Símbolo
          </ion-col>
          <ion-col>
            Tipo
          </ion-col>
          <ion-col>
            Valor
          </ion-col>
          <ion-col>
            Tamaño
          </ion-col>
        </ion-row>
        <ion-row *ngFor="let lin of table" class="rows">
          <ion-col>
            {{ lin && (lin.type !== 'Constante' ? setHexAddress(lin.address) : '-') }}
          </ion-col>
          <ion-col>
            {{ lin && lin.symbol }}
          </ion-col>
          <ion-col>
            {{ lin && lin.type }}
          </ion-col>
          <ion-col>
            {{ lin && lin.value }}
          </ion-col>
          <ion-col>
            {{ lin && lin.size }}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-row>
</ion-content>
